Given an input label, submit your answer for this task. Return only a label, nothing else.
<task>{{ task.name }} : {{ task.description }}.</task>
Possible labels:
{% for class in task.classes %}
<label>"{{ class.name }}" {% if class.description %}: {{ class.description }}{% endif %}</label>
{% endfor %}
input: {{ input }}
label:{% if label %} {{ label }}{% endif %}